<!-- Top navigation -->
<app-menu></app-menu>

<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">

        <app-left-menu></app-left-menu>
        <div class="page-container">
            <div class="container">
                <div *ngFor="let itemGroupe of itemGroupes | async">
                    <div *ngIf="itemGroupe.id == id">
                        <h1>Bienvenue sur le groupe <strong>{{itemGroupe.nom}}</strong></h1>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="\posts-groupe">Les publications du groupe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['\add-post']">Ecrire une publication</a>
                    </li>
                    <div *ngFor="let itemMembre of itemMembres | async">
                        <div *ngIf="itemMembre.idGroupe == id">
                            <div *ngIf="itemMembre.uid == this.uid">
                                <div *ngIf="itemMembre.grade != 'Membre'">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['\list-membre-groupe']">Liste des membres</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let itemMembre of itemMembres | async">
                        <div *ngIf="itemMembre.idGroupe == id">
                            <div *ngIf="itemMembre.uid == this.uid">
                                <div *ngIf="itemMembre.grade != 'Membre'">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['\list-post-groupe']">Gérer les publications</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let itemMembre of itemMembres | async">
                        <div *ngIf="itemMembre.idGroupe == id">
                            <div *ngIf="itemMembre.uid == this.uid">
                                <div *ngIf="itemMembre.grade != 'Membre'">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['\list-doc-groupe']">Gérer les documents</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 
                    <div *ngFor="let itemMembre of itemMembres | async">
                        <div *ngIf="itemMembre.idGroupe == id">
                            <div *ngIf="itemMembre.uid == this.uid">
                                <div *ngIf="itemMembre.grade != 'Membre'">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['\groupe-update']">Modifier mon groupe</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                -->
                    <div *ngFor="let itemMembre of itemMembres | async">
                        <div *ngIf="itemMembre.idGroupe == id">
                            <div *ngIf="itemMembre.uid == this.uid">
                                <div *ngIf="itemMembre.grade != 'Membre'">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['\statistiques-groupe']">Les statistiques de mon groupe</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let itemMembre of itemMembres | async">
                        <div *ngIf="itemMembre.idGroupe == id">
                            <div *ngIf="itemMembre.uid == this.uid">
                                <div *ngIf="itemMembre.grade != 'Administrateur'">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['\quit']">Quitter le groupe</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
                <br/>
                <div *ngFor="let itemGroupe of itemGroupes | async">
                    <div *ngIf="itemGroupe.id == id">
                        <h2>Les publications du groupe <strong>{{itemGroupe.nom}}</strong></h2>
                    </div>
                </div>
                <br />
                <div *ngFor="let item of items | async">
                    <div  *ngIf="item.idGroupe == id">
                        <mat-card class="poste">
                        <mat-card-header>
                            <div *ngFor = "let itemUser of itemUsers | async ">
                            <div class="row" *ngIf="authService.userData as user">
                                <div class="photoprofil" *ngIf="itemUser.uid == user.uid">
                                    <div mat-card-avatar [ngStyle]="{
                                        'background-image': 'url('+image+')',
                                        'background-size': 'cover'
                                      }"></div>
                                </div>
                            </div>
                        </div>
                            <mat-card-title><p>{{item.titre}}</mat-card-title>
                                <div *ngFor="let itemUser of itemUsers | async">
                                    <div *ngIf="itemUser.idCreateur == itemUser.uid">
                                        <mat-card-subtitle>Posted by pseudo</mat-card-subtitle> 
                                    </div>
                                </div>
                        </mat-card-header>
                            <div class="photo" *ngFor="let file of fileUploads">
                                <div *ngIf="file.id == item.idDocument">
                                    <img src="{{file.url}}" width="400" height="400"/>
                                </div>
                            </div>
                            <mat-card-content>
                                <div class="contenu"><p>{{item.contenu}}</p></div>
                            </mat-card-content>
                            <div class="date"><p>{{item.date?.toDate() | date:'d/M/yyyy, HH:mm'}}</p></div>
                            <div class="btn-toolbar">
                                <button type="button" id="btnSubmit" class="btn btn-primary btn-lg">Like</button>
                                <button type="button" id="btnCancel" class="btn btn-primary btn-lg">Share</button>
                              </div>
                    </mat-card>
                    <hr>
                    </div>
                </div>
            </div>
        </div>